/* ----------------------
    BASIC STYLES
-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.container {
    width: 80%;
    margin: auto;
    padding: 100px 0;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 600;
    font-size: 48px;
}

h3 {
    font-weight: 500;
    font-size: 36px;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.btn-primary {
    padding: 15px 25px;
    border: 0;
    background: #FFFFFF;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    margin: 30px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.btn-primary span {
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.btn-primary:hover {
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
}

.btn-primary:hover span {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* ----------------------
    HEADER STYLES
-------------------------*/
header {
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
    height: auto;
    width: 100%;
}

header>.container {
    padding-top: 30px;
}

/* NAVBAR STYLES */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-menu {
    display: none;
    font-size: 40px;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li:hover a {
    text-decoration: underline;
}

.header-banner {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-banner>div {
    width: 45%;
}

.banner-description {
    margin: 30px 0px;
}

.header-btn {
    background: none;
    border: 3px solid #FFFFFF;
}

.header-btn:hover {
    background: none;
    text-decoration: underline;
}

/* ----------------------
    MAIN STYLES
-------------------------*/
/* CARD SECTION */
.cards,
.review-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.card{
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
    border-radius: 20px;
    width: 30%;
    padding: 50px 46px;
}
.card i{
    font-size: 50px;
    margin-bottom: 19px;
}
.card-title{
    margin-bottom: 19px;
}
/* ABOUT ME SECTION */
.about-me{
    background: linear-gradient(243.41deg, #D16BA5 -0.69%, #86A8E7 61.72%, #5FFBF1 100%);
}
.about-me-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-me-thumbline{
    width: 30%;
}
.about-me-thumbline img{
    padding: 25px 40px 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.about-me-text-box{
    width: 50%;
}
.section-title{
    margin-bottom: 30px;
}
/* REVIEW SECTION */
.review-item{
    background: linear-gradient(243.41deg, #5FFBF1 -0.69%, #86A8E7 39.69%, #D16BA5 100%);
    border-radius: 20px;
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    text-align: justify;
}
.review-box-item{
    width:60%;
}
.author-image{
    width:30%;
    padding: 25px 10px 0;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.author-name{
    text-align: left;
    margin-bottom: 20px;
}